{% extends 'admin/base_admin.html.twig' %}

{% block title %}PULSE - Form produit{% endblock %}

{% block admin_content %}

        
  <div class="pageHeader">
    <div>
      <h2>Form produit</h2>
      <div class="pageSub"></div>
    </div>
  </div>
  <section class="panel">
    {{ form_start(form) }}
    <div class="formGrid">
      <div class="field">
        {{ form_label(form.teamId) }}
        {{ form_widget(form.teamId, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.teamId) }}
      </div>
      <div class="field">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.name) }}
      </div>
      <div class="field">
        {{ form_label(form.sku) }}
        {{ form_widget(form.sku, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.sku) }}
      </div>
      <div class="field">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.price) }}
      </div>
      <div class="field">
        {{ form_label(form.stockQty) }}
        {{ form_widget(form.stockQty, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.stockQty) }}
      </div>
      <div class="field">
        {{ form_label(form.isActive) }}
        {{ form_widget(form.isActive, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.isActive) }}
      </div>
      <div class="field">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'input-dark'}}) }}
        {{ form_errors(form.description) }}
      </div>
    </div>
    <div class="formActions" style="margin-top:12px;">
      <button class="btn btnPrimary" type="submit">Enregistrer</button>
      <a class="btn btnGhost" href="{{ path('admin_products') }}">Annuler</a>
    </div>
    {{ form_end(form) }}
  </section>
  
  <section class="panel">
    <div class="panelHeader">
      <div>
        <h3 class="panelTitle">SCHEMA UTILISE</h3>
        <div class="panelDesc">Tables et colonnes principales.</div>
      </div>
    </div>
    <div class="list">
      <div class="listItem"><span><b>products</b></span><span class="listMeta">Voir colonnes definies dans le schema</span></div>
    </div>
  </section>


      
{% endblock %}
