{% extends 'base.html.twig' %}

{% block title %}PULSE - Inviter un joueur{% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'CAPITAINE',
  hero_title: 'Inviter un joueur',
  hero_sub: 'Invitations d’équipe.',
  breadcrumb_current: 'Inviter un joueur'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE CAPITAINE</div>
    <a class="" href="{{ path('front_captain_team_manage') }}">Mon équipe</a><a class="" href="{{ path('front_captain_members') }}">Membres</a><a class="" href="{{ path('front_captain_requests') }}">Demandes</a><a class="is-active" href="{{ path('front_captain_invite') }}">Inviter</a><a class="" href="{{ path('front_captain_products') }}">Produits</a><a class="" href="{{ path('front_captain_orders') }}">Commandes</a><a class="" href="{{ path('front_captain_tournaments') }}">Tournois</a>
  </aside>

        <div>
          
        
          <div class="panel">
            <div class="filtersRow">
              <div class="select">
                <select>
                  <option>Équipe active</option>
                  <option>Nebula Five</option>
                  <option>North Hydra</option>
                </select>
              </div>
              <button class="btn btn--ghost" type="button">Changer</button>
            </div>
          </div>

        <div class="panel">
          <div class="filtersRow">
            <input class="input" type="search" placeholder="Username ou display name" />
            <button class="btn btn--primary">Rechercher</button>
          </div>
          <div class="list" style="margin-top:10px;">
            <div class="listItem"><span>NovaAim</span><button class="btn btn--ghost">Inviter</button></div>
          </div>
        </div>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>team_invites</b></span><span class="listItem__meta">team_id, invited_user_id, invited_by_user_id, status</span></div><div class="listItem"><span><b>team_members</b></span><span class="listItem__meta">team_id, user_id</span></div><div class="listItem"><span><b>notifications</b></span><span class="listItem__meta">notification_id, user_id</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


