{% extends 'base.html.twig' %}

{% block title %}PULSE - Fil d’actualité{% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'JOUEUR',
  hero_title: 'Fil d’actualité',
  hero_sub: 'Posts publics, amis et équipes.',
  breadcrumb_current: 'Fil d’actualité'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE JOUEUR</div>
    <a class="" href="{{ path('front_dashboard') }}">Dashboard</a><a class="" href="{{ path('front_profile') }}">Mon profil</a><a class="" href="{{ path('front_players') }}">Recherche joueurs</a><a class="" href="{{ path('front_friends') }}">Amis</a><a class="" href="{{ path('front_messages') }}">Messages</a><a class="is-active" href="{{ path('front_feed') }}">Fil d’actualité</a><a class="" href="{{ path('front_my_teams') }}">Mes équipes</a><a class="" href="{{ path('front_my_requests') }}">Mes demandes</a><a class="" href="{{ path('front_orders') }}">Mes commandes</a><a class="" href="{{ path('front_notifications') }}">Notifications</a>
  </aside>

        <div>
          
        <div class="panel">
          <div class="panel__head">
            <h3 class="panel__title">FIL</h3>
            <div class="panel__actions"><a class="btn btn--primary" href="{{ path('front_post_create') }}">Créer un post</a></div>
          </div>
          
      <div class="list">
        
          <div class="listItem">
            <div>
              <b>@ZED_99</b>
              <div class="listItem__meta">Victoire 3-1 au Pulse Invitational !</div>
            </div>
            <div class="listItem__meta">42 likes • 9 commentaires</div>
          </div>
          <div class="listItem">
            <div>
              <b>@NovaAim</b>
              <div class="listItem__meta">Nouveau produit disponible dans la boutique Aurora Squad.</div>
            </div>
            <div class="listItem__meta">15 likes • 2 commentaires</div>
          </div>
          <div class="listItem">
            <div>
              <b>@FrostByte</b>
              <div class="listItem__meta">Roster update + essais ouverts cette semaine.</div>
            </div>
            <div class="listItem__meta">28 likes • 7 commentaires</div>
          </div>
      </div>
      <div class="panel__actions" style="margin-top:10px;">
        <a class="btn btn--ghost" href="{{ path('front_post_detail') }}">Like / Commenter → Connexion</a>
      </div>

        </div>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>posts</b></span><span class="listItem__meta">post_id, author_user_id, visibility, created_at</span></div><div class="listItem"><span><b>post_likes</b></span><span class="listItem__meta">post_id, user_id</span></div><div class="listItem"><span><b>comments</b></span><span class="listItem__meta">comment_id, post_id, author_user_id</span></div><div class="listItem"><span><b>friendships</b></span><span class="listItem__meta">user_id1, user_id2</span></div><div class="listItem"><span><b>team_members</b></span><span class="listItem__meta">team_id, user_id</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


