{% extends 'base.html.twig' %}

{% block title %}PULSE - Mes tournois{% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'ORGANISATEUR',
  hero_title: 'Mes tournois',
  hero_sub: 'Tournois validés et actifs.',
  breadcrumb_current: 'Mes tournois'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE ORGANISATEUR</div>
    <a class="" href="{{ path('front_organizer_request_create') }}">Demande tournoi</a><a class="" href="{{ path('front_organizer_requests') }}">Mes demandes</a><a class="is-active" href="{{ path('front_organizer_tournaments') }}">Mes tournois</a><a class="" href="{{ path('front_organizer_registrations') }}">Inscriptions</a><a class="" href="{{ path('front_organizer_matches') }}">Matchs</a>
  </aside>

        <div>
          
        <div class="panel">
          <div class="tableWrap">
            <table class="table">
              <thead><tr><th>Tournoi</th><th>Statut</th><th>Action</th></tr></thead>
              <tbody>
                <tr><td>Pulse Invitational</td><td><span class="badge badge--info">OPEN</span></td><td><a class="btn btn--ghost" href="{{ path('front_organizer_tournament_detail') }}">Gérer</a></td></tr>
              </tbody>
            </table>
          </div>
        </div>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>tournaments</b></span><span class="listItem__meta">tournament_id, organizer_user_id, status, start_date, end_date</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


