{% extends 'base.html.twig' %}

{% block title %}PULSE - Éditer match{% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'ORGANISATEUR',
  hero_title: 'Éditer match',
  hero_sub: 'Saisie des résultats.',
  breadcrumb_current: 'Éditer match'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE ORGANISATEUR</div>
    <a class="" href="{{ path('front_organizer_request_create') }}">Demande tournoi</a><a class="" href="{{ path('front_organizer_requests') }}">Mes demandes</a><a class="" href="{{ path('front_organizer_tournaments') }}">Mes tournois</a><a class="" href="{{ path('front_organizer_registrations') }}">Inscriptions</a><a class="is-active" href="{{ path('front_organizer_matches') }}">Matchs</a>
  </aside>

        <div>
          
        <form class="panel">
          <div class="formGrid">
            <label class="field"><span class="field__label">Statut</span><select class="input"><option>ONGOING</option><option>FINISHED</option></select></label>
            <label class="field"><span class="field__label">Score Team A</span><input class="input" type="number" /></label>
            <label class="field"><span class="field__label">Score Team B</span><input class="input" type="number" /></label>
          </div>
          <div class="formActions" style="margin-top:12px;">
            <button class="btn btn--primary" type="submit">Enregistrer</button>
          </div>
        </form>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>match_teams</b></span><span class="listItem__meta">match_id, team_id, score, is_winner</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


