{% extends 'base.html.twig' %}

{% block title %}PULSE - Gestion matchs{% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'ORGANISATEUR',
  hero_title: 'Gestion matchs',
  hero_sub: 'Créer et éditer les matchs.',
  breadcrumb_current: 'Gestion matchs'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE ORGANISATEUR</div>
    <a class="" href="{{ path('front_organizer_request_create') }}">Demande tournoi</a><a class="" href="{{ path('front_organizer_requests') }}">Mes demandes</a><a class="" href="{{ path('front_organizer_tournaments') }}">Mes tournois</a><a class="" href="{{ path('front_organizer_registrations') }}">Inscriptions</a><a class="is-active" href="{{ path('front_organizer_matches') }}">Matchs</a>
  </aside>

        <div>
          
        <div class="panel">
          <div class="panel__head">
            <h3 class="panel__title">MATCHS</h3>
            <div class="panel__actions"><a class="btn btn--primary" href="{{ path('front_organizer_match_create') }}">Créer match</a></div>
          </div>
          <div class="tableWrap">
            <table class="table">
              <thead><tr><th>Match</th><th>Statut</th><th>Action</th></tr></thead>
              <tbody>
                <tr><td>Nebula Five vs North Hydra</td><td><span class="badge badge--info">SCHEDULED</span></td><td><a class="btn btn--ghost" href="{{ path('front_organizer_match_edit') }}">Éditer</a></td></tr>
              </tbody>
            </table>
          </div>
        </div>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>matches</b></span><span class="listItem__meta">match_id, tournament_id, status, round_name, scheduled_at</span></div><div class="listItem"><span><b>match_teams</b></span><span class="listItem__meta">match_id, team_id, score, is_winner</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


