{% extends 'base.html.twig' %}

{% block title %}PULSE - Inscriptions{% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'ORGANISATEUR',
  hero_title: 'Inscriptions',
  hero_sub: 'Accepter / refuser équipes.',
  breadcrumb_current: 'Inscriptions'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE ORGANISATEUR</div>
    <a class="" href="{{ path('front_organizer_request_create') }}">Demande tournoi</a><a class="" href="{{ path('front_organizer_requests') }}">Mes demandes</a><a class="" href="{{ path('front_organizer_tournaments') }}">Mes tournois</a><a class="is-active" href="{{ path('front_organizer_registrations') }}">Inscriptions</a><a class="" href="{{ path('front_organizer_matches') }}">Matchs</a>
  </aside>

        <div>
          
        <div class="panel">
          <div class="tableWrap">
            <table class="table">
              <thead><tr><th>Équipe</th><th>Statut</th><th>Action</th></tr></thead>
              <tbody>
                <tr><td>Nebula Five</td><td><span class="badge">PENDING</span></td><td><button class="btn btn--primary">Accepter</button></td></tr>
              </tbody>
            </table>
          </div>
        </div>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>tournament_teams</b></span><span class="listItem__meta">tournament_id, team_id, status, seed</span></div><div class="listItem"><span><b>teams</b></span><span class="listItem__meta">team_id, name, logo_image_id</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


