{% extends 'base.html.twig' %}

{% block title %}PULSE - Détail tournoi (org){% endblock %}

{% block body %}


  {% include 'front/partials/_hero_mini.html.twig' with {
  hero_kicker: 'ORGANISATEUR',
  hero_title: 'Détail tournoi (org)',
  hero_sub: 'Gestion du tournoi.',
  breadcrumb_current: 'Détail tournoi (org)'
} %}


  <main class="page">
    <section class="belowHero">

      <div class="layout">
        
  <aside class="sideNav">
    <div class="sideNav__title">ESPACE ORGANISATEUR</div>
    <a class="" href="{{ path('front_organizer_request_create') }}">Demande tournoi</a><a class="" href="{{ path('front_organizer_requests') }}">Mes demandes</a><a class="is-active" href="{{ path('front_organizer_tournaments') }}">Mes tournois</a><a class="" href="{{ path('front_organizer_registrations') }}">Inscriptions</a><a class="" href="{{ path('front_organizer_matches') }}">Matchs</a>
  </aside>

        <div>
          
        <div class="panel">
          <h3 class="panel__title">Pulse Invitational</h3>
          <div class="statsRow">
            <div class="statCard"><div class="statCard__value">8</div><div class="statCard__label">Équipes</div></div>
            <div class="statCard"><div class="statCard__value">16</div><div class="statCard__label">Matchs</div></div>
          </div>
          <div class="card__actions" style="margin-top:10px;">
            <a class="btn btn--ghost" href="{{ path('front_organizer_registrations') }}">Inscriptions</a>
            <a class="btn btn--ghost" href="{{ path('front_organizer_matches') }}">Matchs</a>
          </div>
        </div>
        
      <div class="panel">
        <div class="panel__head">
          <div>
            <h3 class="panel__title">TABLES UTILISÉES</h3>
            <div class="panel__desc">Schéma réel + colonnes clés.</div>
          </div>
        </div>
        <div class="list">
          <div class="listItem"><span><b>tournaments</b></span><span class="listItem__meta">tournament_id, organizer_user_id, status</span></div><div class="listItem"><span><b>tournament_teams</b></span><span class="listItem__meta">tournament_id, team_id, status</span></div><div class="listItem"><span><b>matches</b></span><span class="listItem__meta">match_id, tournament_id, status</span></div>
        </div>
      </div>

      
        </div>
      </div>


      {% include 'front/partials/_footer.html.twig' %}

    </section>
  </main>

  {% include 'front/partials/_auth_modal.html.twig' %}

{% endblock %}


